@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 50vh;
  transition: background 0.3s linear, color 0.3s linear;
}

.body {
  /* position: fixed; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
}

.header {
  background-color: #3b5999;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.word-display {
  margin-top: 3rem;
  font-size: 80px;
  color: #3b5999;
}

.word-input-box {
  margin-top: 2rem;
}

.word-input {
  padding: 0.5rem;
  width: 300px;
}

.game-info {
  margin-top: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.time,
.score {
  font-size: 30px;
}

.button {
  width: 200px;
  height: 35px;
  background: #3b5999;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  margin-top: 3rem;
  cursor: pointer;
}

.loading {
  background: #ccc;
  cursor: not-allowed;
}

.toast-wrap {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  /* border: 1px solid red; */
}

.heart {
  position: fixed;
  top: 7vh;
  font-size: 2rem;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

.toggle-container {
  position: fixed;
  top: 100px;
  right: 10px;
}

label {
  background: #1f1f1f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s linear;
}

#toggle {
  visibility: hidden;
}

body.dark {
  background: #1f1f1f;
  color: #fff;
}

body.dark label {
  background: #fff;
}

body.dark .button {
  background: #fff;
  color: #1f1f1f;
  font-weight: bolder;
}

body.dark .word-display {
  color: #fff;
}
